DATABASE_URL="file:./dev.db"
ADMIN_PASSWORD="changeme_strong_password"
ADMIN_SECRET="changeme_jwt_secret_32chars_minimum"
NEXT_PUBLIC_WHATSAPP="594XXXXXXXXX"
NEXT_PUBLIC_STORE_NAME="ReadyMiix Store"
NEXT_PUBLIC_STORE_EMAIL="contact@readymiixstore.com"
